.titleBox{
    background-color: #f0f2bd;
    height: auto;
    margin: 2vw 2vw 1vw 2vw;
    padding: 1vw 3vw;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    color:#2b2611;
}
.name{
    background-color: #fbdc88;
    height: auto;
    margin: 1vw 2vw 1vw 2vw;
    padding: 3vw;
    border-radius: 1.5vw;
    display:block;
    font-size: 3vw;
    flex: 1 1 250px;
    color:#2b2611;
}
.name h1 {
    font-family: Libre Baskerville;
    font-size: 6vw;
    text-align: center;
    margin-bottom: 2vw;
    border-bottom: 3px solid #ca7842;
    padding-bottom: 0.5vw;
    width: 100%;
}
.name h2{
    font-family: "Brush Script MT", "Lucida Handwriting";
    text-align: left;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
}
.nameContent{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1vw;
}
.nameContent p{
    margin-right:0;
    margin-left: 0;
    text-align: left;
        font-family: "Comic Sans MS";
        line-height: normal;
    flex-grow: 1;
}
.name img {
    height:20vw;
    order: -1;
    margin-right: 2vw;
}
.history{
    background-color: #fbdc88;
    margin: 1vw 2vw 1vw 2vw;
    padding: 3vw;
    border-radius: 1.5vw;
    color:#2b2611;
    overflow: hidden;
}
.history-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    margin-bottom: 1vw;
    border-bottom: 2px solid #ca7842;
}
.history h2{
    font-family: "Brush Script MT", "Lucida Handwriting";
    text-align: center;
    margin: 1vw 0;
    width: 100%;
    text-decoration: underline;
    font-size: 5vw;
}
.dropdown-arrow {
    font-size: 2em;
    transition: transform 0.3s ease;
    padding-left: 1vw;
}
.history-toggle-input {
    display: none;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.history-toggle-input:checked ~ .collapsible-content {
    max-height: 5000px;
    padding-top: 2vw;
}
.history-toggle-input:checked ~ .history-main .dropdown-arrow {
    transform: rotate(180deg);
}
.historyContent{
  display:flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 3vw;
}
.historyContent p{
    margin-right:4vw;
    text-align: left;
        font-family: "Comic Sans MS";
        flex: 3 1 75%
}
.history img {
    max-height: 25vw;
    max-width: 25vw;
    width:auto;
    height: auto;
    object-fit:contain;
    flex-shrink: 0;
    flex-basis: auto;
    order: 1;
    margin-left: 2vw;
}
.trivia {
    display:flex;
    color:#2b2611;
    gap: 2vw;
    align-items: stretch;
    max-width: 65%;
    margin: 1vw auto 1vw 2vw;
}
.triviaCText h2{
    font-family: "Brush Script MT", "Lucida Handwriting";
    text-align: center;
    margin: 0 0 1vw 0;
    font-size: 5vw;
}
.triviaCText {
    flex:1;
    background-color: #fbdc88;
    font-size: 3vw;
    border-radius: 1.5vw;
    padding: 3vw;
    flex: 1 1 250px;
}
.triviaCText p{
    font-family: "Comic Sans MS";
    line-height: 1.3;
    text-align: left;
    margin: 0;
}
.triviaCImages {
    display:flex;
    flex-direction: column;
    align-items: center;
justify-content: space-evenly;
width: 15vw;
min-width: 15vw;
flex-grow: 0;
   margin:0 auto;
   position: relative;
   right: -10vw;
}
.trviaCImages img{
    width: 5vw;
    height: 5vw;
   max-width: 5vw;
   max-height: 5vw;
   object-fit: contain;
   display: block; 
    order: 1;
    margin-left: auto;
margin-right: 1vw;
}
.whatBox{
    background-color: #f0f2bd;
    height: auto;
    margin: 2vw 2vw 1vw 2vw;
    padding: 3vw;
    border-radius: 1.5vw;
    display: block;
    font-size: 5vw;
    color:#2b2611;
    overflow: hidden;
}
.whatBox-mama {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin-bottom: 1vw;
border-bottom: 2px solid #ca7842
}
.whatBox h1 {
    text-align: center;
    width: 100%;
}
.dropdown-arrow {
    font-size: 2em;
    transition: transform 0.3s ease;
    padding-left: 1vw;
}
.credits-toggle-input {
    display: none;
}
.creditsContent {
    background-color: #ca7842;
    justify-content: center;
    border-radius: 0 0 1.5vw 1.5vw;
    color: #f0f2bd;
    font-size: 3vw;
    display: flex;
}
.creditsContent p {
    color: #f0f2bd
    font-family: Comic Sans MS;
    line-height: 1.3;
}
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    padding: 0 3vw;
}
.credits-toggle-input ~ .collapsible-Content {
    max-height: 5000px;
    padding: 3vw;
}
#credits-toggle:checked ~ .whatBox-mama .dropdown-arrow {
    transform: rotate(180deg);
}