.titleBox{
    background-color: #f0f2bd;
    height: auto;
    margin: 2vw 2vw 1vw 2vw;
    padding: 1vw 3vw;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    color:#2b2611;
}
.name{
    background-color: #fbdc88;
    height: auto;
    margin: 1vw 2vw 1vw 2vw;
    padding: 3vw;
    border-radius: 1.5vw;
    display:block;
    font-size: 3vw;
    flex: 1 1 250px;
    color:#2b2611;
}
.name h2{
    font-family: "Brush Script MT", "Lucida Handwriting";
    text-align: right;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
}
.nameContent{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1vw;
}
.nameContent p{
    margin-right:2vw;
    margin-left: auto;
    text-align: right;
        font-family: "Comic Sans MS";
        line-height: normal;
    flex-grow: 1;
}
.name img {
    height:20vw;
    order: -1;
    margin-right: 2vw;
}
.history{
    background-color: #fbdc88;
    height: auto;
    margin: 1vw 2vw 1vw 2vw;
    padding: 3vw;
    border-radius: 1.5vw;
    display:block;
    font-size: 3vw;
    flex: 1 1 250px;
    color:#2b2611;
}
.history h2{
    font-family: "Brush Script MT", "Lucida Handwriting";
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
    text-decoration: underline;
}
.historyContent{
  display:flex;
    align-items:center;
    justify-content: space-between;
}
.historyContent p{
    margin-right:2vw;
    text-align: left;
        font-family: "Comic Sans MS";
}
.history img {
    height:20vw;
    order: 1;
    margin-left: 2vw;
}
.trivia {
    margin:2vw;
    display:flex;
    font-size: 3vw;
   justify-content: space-between;
    color:#2b2611;
    gap: 3vw;
    align-items: stretch;
}
.triviaCText h2{
    font-family: "Brush Script MT", "Lucida Handwriting";
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
    font: 4vw;
}
.triviaCText {
    flex:1;
    background-color: #fbdc88;
    border-radius:1.5vw;
    padding: 3vw;
    height: auto;
}
.triviaCText p{
    font-family: "Comic Sans MT";
    font-size: 2vw;
    line-height: 1.3;
}
.triviaCImages {
    display:flex;
    flex-direction: column;
    align-items: center;
justify-content: space-around;
}
.trviaCImages img{
    width: 10vw;
    margin-bottom: 1vw 0;
}
.whatBox{
    background-color: #f0f2bd;
    height: auto;
    margin: 2vw 2vw 1vw 2vw;
    padding: 1vw 3vw;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    color:#2b2611;
}