.titleBox{
    background-color: #f0f2bd;
    height: auto;
    margin: 2vw 2vw 1vw 2vw;
    padding: 1vw 3vw;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    color:#2b2611;
}
.name{
    background-color: #fbdc88;
    height: auto;
    margin: 1vw 2vw 1vw 2vw;
    padding: 3vw;
    border-radius: 1.5vw;
    display:block;
    font-size: 3vw;
    flex: 1 1 250px;
    color:#2b2611;
}
.name h2{
    font-family: "Brush Script MT", "Lucida Handwriting";
    text-align: right;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
}
.nameContent{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1vw;
}
.nameContent p{
    margin-right:2vw;
    margin-left: auto;
    text-align: right;
        font-family: "Comic Sans MS";
        line-height: normal;
    flex-grow: 1;
}
.name img {
    height:20vw;
    order: -1;
    margin-right: 2vw;
}
.history{
    background-color: #fbdc88;
    height: auto;
    margin: 1vw 2vw 1vw 2vw;
    padding: 3vw;
    border-radius: 1.5vw;
    display:block;
    font-size: 3vw;
    flex: 1 1 250px;
    color:#2b2611;
}
.history h2{
    font-family: "Brush Script MT", "Lucida Handwriting";
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
    text-decoration: underline;
}
.historyContent{
  display:flex;
    align-items:center;
    justify-content: space-between;
}
.historyContent p{
    margin-right:2vw;
    text-align: left;
        font-family: "Comic Sans MS";
}
.history img {
    height:20vw;
    order: 1;
    margin-left: 2vw;
}
.trivia {
    background-color: #fbdc88;
    height: auto;
    margin: 1vw 2vw 1vw 2vw;
    display:flex;
    font-size: 3vw;
    flex: 1 1 250px;
    color:#2b2611;
    width: 50%;
    align-items: stretch;
    padding: 3vw;
}
.trivia h2{
    font-family: "Brush Script MT", "Lucida Handwriting";
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
}
.triviaContent {
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
margin-bottom: 1vw;
display:block;
}
.triviaContent p{
    text-align: left;
        font-family: "Comic Sans MS";
        line-height: normal;
        margin-bottom: 1vw;
        padding-right: 1vw;
}
.triviaCText {
    flex-grow: 1;
    padding: 3vw;
    border-radius:1.5vw;
    margin-right:2vw;
}
.triviaCImages {
    display:flex;
    flex-direction: column;
    align-items: center;
    position:static;
    margin-left: 2vw;
height:auto;
justify-content: space-around;
}
.trviaCImages img{
    display:block;
    height: auto;
    width: 10vw;
    margin-bottom: 0;
}
.whatBox{
    background-color: #f0f2bd;
    height: auto;
    margin: 2vw 2vw 1vw 2vw;
    padding: 1vw 3vw;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    color:#2b2611;
}