.info {
    text-align:center;
    padding-top: 3vw;
}
.info-box {
    background-color: #f0f2bd;
    width: 87%;
    margin: auto;
    padding: 3vw;
    border-radius: 1.5vw;
    display: inline-block;
    align-content: center;
    justify-content: center;
}
.buns {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:0.05vw;
}
.buns img {
    width: 30%;
    max-width: 320px;
    height: auto;
}
.buns h1{
    font-family: Comic Sans;
    font-size: 10vw;
    color: #2b2611;
    margin: 0;
}
.info-box p {
    font-family: Segoe Script;
    font-size: 5vw;
    color: #2b2611;
    margin-top: -1vw;
}
.desc {
    margin-top:4vw;
    color:#ffecb5;
    font-family:Tahoma;
    font-size:2vw;
}